/* BLOG-RELATED STUFF */
#blog {
    min-height: 100vh;
    height: auto;
    padding: 4vw 3vw;
    padding-top: 0;
    margin: 0;
    background: white url("../images/bg/tools.png") center repeat fixed;
}

.blog-links
{
    display: block;
    float: left;

    position: relative;
    left: 28.7%;

    font-family: 'Courier New', Courier, monospace;
    font-size: var(--nav-link-font-size);
    font-weight: 600;
    color: var(--nav-link-col);

    margin: 2.5vh var(--nav-link-margin);

    text-align: center;
}

main {
    padding: 6vw 2vw 0 2vw;
    height: auto;
}

.accordion {
    background-color: #eee;

    padding: 1rem 2rem;
    width: 100%;

    border: none;
    
    color: #444;
    font-size: 15px;

    transition: 0.4s;

    cursor: pointer;
    text-align: center;
    outline: none;
}

.active, .accordion:hover {
    filter: brightness(140%);
}

.accordion::after {
    content: '\21E3';
    color: rgb(212, 212, 158);
    font-size: 5rem;
    font-weight: bold;

    position: absolute;
    left: 50%;

    margin: 2.4rem 0;

    -moz-transition:  0.4s;
    -webkit-transition:  0.4s;
    transition:  0.4s;
    transition: 0.4s;
}

.accordion:hover::after {
    content: '\21E3';
    color: rgb(212, 212, 158);
    font-size: 5rem;
    font-weight: bold;

    margin: 2.4rem 0;

    -moz-transition: 0.4s;
    -webkit-transition: 0.4s;
    transition: 0.4s;

    -moz-transform: translateY(1.5rem);
    -ms-transform: translateY(1.5rem);
    -o-transform: translateY(1.5rem);
    -webkit-transform: translateY(1.5rem);
    transform: translateY(1.5rem);
}

.blog-entry {
    /* margin: 5.5rem; */
    /* padding: 3rem 5rem; */

    font-family: Montserrat, sans-serif;
    font-size: var(--about-desc-font-size);
    color: var(--about-desc-col);

    text-align: justify;

    background: rgba(138, 164, 165, 0.65);

    -webkit-backdrop-filter: blur(0.25rem);
    backdrop-filter: blur(0.25rem);

    /* border: 2px dotted red; */

    -webkit-box-shadow: 0 0 3rem 0 rgba(0,0,0,0.85);
    -moz-box-shadow: 0 0 3rem 0 rgba(0,0,0,0.85);
    box-shadow: 0 0 3rem 0 rgba(0,0,0,0.85);
    
    height: auto;
}

.last-entry {
    margin-bottom: 0;
}

/* Accordion activated */
.active {
    background: rgb(12, 86, 88);
    z-index: 300;
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
}

.accordion.active + .panel {
    z-index: 295;
    position: absolute;
    top: 9rem;
    left: 0;

    height: auto;
    min-height: 100%;
    width: 100%;

    margin: 0;
}

.active:hover::after {
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.active::after {
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.entry-top {
    color: palegoldenrod;
    font-family: Inconsolata, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.entry-ttl {
    float: left;
    position: relative;
    top: -1.29rem;

    /* margin: 2rem 0 0 0; */
}

.entry-ttl:before {
    font-family: Arial;
    content: "\0023";

    color: #78C0A8;
    font-size: 6rem;

    position: relative;
    top: 0.75rem;

    margin-right: 2rem;
    
    text-shadow: 3px 3px 3px #333333;
}

.entry-author {
    float: right;
    position: relative;
    top: 0.7rem;
    right: 1%;

    padding-right: 2rem;
    padding: 1rem;
    border-right: 4px solid rgba(252, 185, 109, 0.75);
}

.entry-date {
    float: right;
    position: relative;
    top: 1.75rem;
}

.icons {
    margin-right: 1rem;
}

/* Actual blog text */
.panel {
    background-color: rgb(8, 126, 139);

    max-height: 0;

    margin-bottom: 6rem;

    color: white;
    font-size: 2.5rem;

    overflow: hidden;

    -moz-transition: 0.4s,
                     max-height 0.4s ease-out,
                     padding 0.4s ease-out;
    -webkit-transition: 0.4s,
                        max-height 0.4s ease-out,
                        padding 0.4s ease-out;
    transition: 0.4s,
                max-height 0.4s ease-out,
                padding 0.4s ease-out;
}

.panel h2 {
    font-family: Arvo;
    font-weight: 600;
}

.panel p {
    margin: 4rem 2rem;
    font-family: "Zilla Slab";
    font-size: 2.25rem;

    text-align: justify;
}

/* BLOG ONLY */
@media screen and (min-width: 960px) and (max-width: 1124px)
{
    main button:first-of-type {
        margin-top: 10rem;
    }
}

@media screen and (max-width: 960px)
{
    main button:first-of-type {
        margin-top: 10rem;
    }
    .accordion::after {
        font-size: 3rem;
    
        position: absolute;
        left: 49%;
    }
    .entry-author {
        position: relative;
        top: -1rem;
        right: -25%;

        border: none;
    }
    .entry-date {
        position: relative;
        top: 3.5rem;
    }
}

@media screen and (max-width: 902px)
{
    main button:first-of-type {
        margin-top: 10rem;
    }
}

@media screen and (max-width: 720px)
{
    .entry-author {
        font-size: 2rem;

        position: relative;
        right: -25%;

        border: none;
    }
    .entry-date {
        font-size: 2rem;

        position: relative;
        top: 4.5rem;
    }
}