/* BGs from http://thepatternlibrary.com/ */

* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:root
{
    font: 10px Helvetica, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    --page-links-col: rgba(0, 250, 154, 0.8);
    
    --logo-width: 9rem;

    --intro-ttl-font-size: 10rem;
    --intro-ttl-col: rgb(218, 248, 248);
    /* rgb(240, 224, 196); */

    --menu-sidebar-bg-col: rgba(30, 93, 136, 0.75);
     /* rgba(41, 118, 148, 0.75); */

    --nav-link-font-size: 2.2rem;
    --nav-link-col: rgb(188, 255, 233);
    /* cornsilk, mintcream, moccasin, rgb(218, 255, 5) */
    --nav-link-margin: 2vw;

    --down-arrow-size: 4rem;
    --down-arrow-color: white; 

    --whitespan-height: 9rem;
    --whitespan-text-font-size: 4rem;
    --whitespan-bg-col: rgb(241, 239, 209);

    --about-desc-font-size: 2.8rem;
    --about-desc-bg-col: rgba(41, 118, 148, 0.75);
    --about-desc-col: rgb(255, 255, 242);
    --quote-font-size: 4rem;

    --project-width: 10rem;
    --project-height: 8rem;

    --proj-ttl-col: white;
    --proj-ttl-font-size: 4rem;

    --proj-img-cont-width: 30rem;
    --proj-img-cont-height: 32rem;

    --proj-img-width: 30rem;
    --proj-img-height: 32rem;
    --proj-img-wide-width: 38rem;

    --proj-desc-col: white;
    --proj-desc-font-size: 2rem;

    --proj-desc-bg-col: rgba(41, 118, 148, 0.75);

    --person-name-font-size: 2.25rem;
    --person-width: 32rem;
    --person-height: 38rem;
    --person-dsgn-font-size: 1.75rem;

    --connect-height: 85vh;
    --connect-club-ttl-font-size: 5rem;
    --connect-logo-width: 14rem;
    --connect-niser-logo-width: 20rem;
    --connect-desc-bg-col: rgba(41, 118, 148, 0.75);
    --club-details-font-size: 7rem;
    --gform-img-width: 7rem;
    --gform-span-font-size: 3rem;

    --footer-text-col: rgb(221, 203, 200);
    --footer-bg-col: rgb(194, 171, 95);

    --mail-col: rgb(0, 114, 202);
    --whatsapp-col: rgb(85, 240, 112) ;
    --yt-col: rgb(255, 0, 0);
    --fb-col: #3b5998;
    --insta-col: #fb3958;
    --github-col: rgb(23, 21, 21);
    --rg-col: rgb(30, 151, 95);
}

@font-face {
    font-family: mx;
    src: url(../fonts/mexcellent\ rg.ttf);
}

@font-face {
    font-family: mx3d;
    src: url(../fonts/mexcellent\ 3d.ttf);
}


body
{
    background: rgb(106, 84, 48) center/cover no-repeat fixed; /* Fallback color added */
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}

a:hover, a:link, a:active, a:any-link, a:visited
{
    text-decoration: none !important;
}

.page-links {
    color: var(--page-links-col);
}

ul {
    list-style-type: none !important;
}

.mail, .whatsapp, .yt, .fb, .insta, .github, .rg {
    color: white;

    -moz-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
}

.mail:hover {
    opacity: 1;
    color: var(--mail-col);
}

.whatsapp:hover {
    opacity: 1;
    color: var(--whatsapp-col);
}

.yt:hover {
    opacity: 1;
    color: var(--yt-col);
}

.fb:hover
{
    opacity: 1;
    color: var(--fb-col);
}

.insta:hover
{
    opacity: 1;
    color: var(--insta-col);
}

.github:hover
{
    opacity: 1;
    color: rgb(23, 21, 21);
}

.rg:hover {
    opacity: 1;
    color:var(--rg-col);
}

/* Hamburger Menu */
.toggle-button {
    display: none;

    position: fixed;
    top: 3rem;
    right: 8.6rem;

    width: 4.5rem;
    height: 4rem;

    padding: 0.5rem;

    transition: .25s;
    z-index: 15;
}

.toggle-button:hover {
    cursor: pointer;
}

.toggle-button .menu-bar {
    position: absolute;
    border-radius: 2px;
    width: 80%;
    transition: .5s;
}

.toggle-button .menu-bar-top {
    border: 4px solid rgb(248, 82, 110);
    /* rgb(235, 107, 81); */
    border-bottom: none;
    top: 0;
}

.toggle-button .menu-bar-middle {
    height: 4px;
    background-color: rgb(13, 201, 185);
    margin-top: 7px;
    margin-bottom: 7px;
    top: 4px;

    z-index: 20;
}

.toggle-button .menu-bar-bottom {
    border: 4px solid rgb(82, 125, 194);
    border-top: none;
    top: 22px;
}

.button-open .menu-bar-top {
    -moz-transform: rotate(45deg) translate(8px, 8px);
    -ms-transform: rotate(45deg) translate(8px, 8px);
    -o-transform: rotate(45deg) translate(8px, 8px);
    -webkit-transform: rotate(45deg) translate(8px, 8px);
    transform: rotate(45deg) translate(8px, 8px);

    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

.button-open .menu-bar-middle {
    -moz-transform: translate(-22rem);
    -ms-transform: translate(-22rem);
    -o-transform: translate(-22rem);
    -webkit-transform: translate(-22rem);
    transform: translate(-22rem);

    -moz-transition: 0.1s ease-in;
    -webkit-transition: 0.1s ease-in;
    transition: 0.1s ease-in;
    opacity: 0;
}

.button-open .menu-bar-bottom {
    -moz-transform: rotate(-45deg) translate(8px, -7px);
    -ms-transform: rotate(-45deg) translate(8px, -7px);
    -o-transform: rotate(-45deg) translate(8px, -7px);
    -webkit-transform: rotate(-45deg) translate(8px, -7px);
    transform: rotate(-45deg) translate(8px, -7px);

    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.menu {
    position: fixed;
    right: 0;
    top: 0;

    width: 100%;
    height: 100%;

    overflow: hidden;
    pointer-events: none;
    z-index: 10;
}

.menu--visible {
    pointer-events: auto;
}

.app-menu {
    position: fixed;
    right: 0;
    top: 0;

    width: 22rem;
    height: 100%;

    background-color: var(--menu-sidebar-bg-col);

    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);

    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);

    will-change: transform;
    z-index: 10;
    pointer-events: auto; 
}

.menu--visible .app-menu {
    -webkit-box-shadow: 0 0 6rem 0 rgba(241, 239, 209, 0.75);
    -moz-box-shadow: 0 0 6rem 0 rgba(241, 239, 209, 0.75);
    box-shadow: 0 0 6rem 0 rgba(241, 239, 209, 0.75);

    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}

.menu--animatable .app-menu {
    -webkit-transition: all 130ms ease-in;
    -moz-transition: all 130ms ease-in;
    -o-transition: all 130ms ease-in;
    transition: all 130ms ease-in;
}

.menu--visible.menu--animatable  .app-menu {
    -webkit-transition: all 230ms ease-out;
    -moz-transition: all 230ms ease-out;
    -o-transition: all 230ms ease-out;
    transition: all 230ms ease-out;
}

/* Needed to change opacity - dimming effect */
.menu:after {
    content: '';
    display: block;

    position: fixed;
    right: 0;
    top: 0;

    width: 100%;
    height: 100%;

    background: rgba(0,0,0,0.4);
    opacity: 0;

    will-change: opacity;
    pointer-events: none;

    -webkit-transition: opacity 0.3s cubic-bezier(0,0,0.3,1);
    -moz-transition: opacity 0.3s cubic-bezier(0,0,0.3,1);
    -o-transition: opacity 0.3s cubic-bezier(0,0,0.3,1);
    transition: opacity 0.3s cubic-bezier(0,0,0.3,1);
}

.menu--visible.menu:after {
    opacity: 1;
    pointer-events: auto;
}

/* Sidebar Links */
.menu-list {
    margin: 2rem;
    text-align: center;
    line-height: 8rem;
}

.menu-links
{
    padding: 2rem;
    margin: 2rem 0;
    position: relative;
    top: 26.5vh;

    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5rem; /* VAR */
    font-weight: 600;
    color: var(--nav-link-col);

    -ms-filter: brightness(80%);
    -webkit-filter: brightness(80%);
    filter: brightness(80%);
}

.menu-links:hover {
    -ms-filter: brightness(120%);
    -webkit-filter: brightness(120%);
    filter: brightness(120%);
}

.app-menu li > a:after, .app-menu li > a:before, .nav-links:after {
    content: "";
    display: block;
    height: 0.3rem;

    position: absolute;
    top: 100%;
    width: 102%;
    left: 50%;

    -moz-transform: translate(-50%);
    -o-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -webkit-transform: translate(-50%);
    transform: translate(-50%);

    background-image: linear-gradient(to right, transparent 50.3%, #FFFA3B 50.3%);
    transition: background-position .2s .1s ease-out;
    background-size: 200% auto;
}

.app-menu li > a:before {
    top: 0;
    right: 50%;
}

.app-menu li > a:hover:after, .app-menu li > a:hover:before, .nav-links:hover:after {
    background-position: -100% 0;
}

.app-menu li > a:hover:before {
    background-position: 100% 0;
}

/* For all the tiles -- Individual tiles can be styled, well, individually */
.tiles
{
    height: 100vh;
    text-align: center;
}

/* All the white spans */
.whitespan {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 5;
    width: 100%;
    height: var(--whitespan-height);
    font-size: var(--whitespan-text-font-size);
    font-weight: 900;
    font-family: 'Russo One', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;

    background: var(--whitespan-bg-col);

    padding: 2rem 0;

    -moz-transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

/* LOGO Image */
#logo-link
{
    position: fixed;
    top: 0.5rem;

    z-index: 15;

    margin-left: 4vw;
    float: left;
}

#logo
{
    width: var(--logo-width);

    -moz-transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;

    opacity: 0.8;
}

#logo:hover
{
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#nav
{
    padding: 1rem;

    background: inherit;

    text-align: center;

    z-index: 5;
}

.nav-links
{
    display: block;
    float: left;

    position: relative;
    left: 30%;

    font-family: 'Courier New', Courier, monospace;
    font-size: var(--nav-link-font-size);
    font-weight: 600;
    color: var(--nav-link-col);

    margin: 2.5vh var(--nav-link-margin);

    text-align: center;
}

.nav-links:hover {
    opacity: 0.8;
}

/* Clearing floats */
#nav:before,
#nav:after {
    content: "";
    display: table;

}

#nav:after {
    clear: both;
}

#nav {
    clear: both;
    *zoom: 1;
}

/* HOME */
#home {
    background: white url(../images/bg/science.png) repeat fixed;
}

/* THE TITLE */
#ttl
{ 
    position: relative;
    top: 33.5%;

    z-index: 0;

    color: var(--intro-ttl-col);
    
    font-family: mx, 'Courier New', Courier, monospace;
    font-size: var(--intro-ttl-font-size);
    font-weight: 500;

    -moz-transition: 0.35s;
    -o-transition: 0.35s;
    -webkit-transition: 0.35s;
    transition: 0.35s;
}

.down-arrow {
    display: block;
    position: relative;
    top: 72vh;

    color: var(--down-arrow-color);

    font-size: var(--down-arrow-size);

    z-index: 5;
}

.down-arrow a {
    color: papayawhip !important;
}

/* THE FOOTER */
footer
{
    display: block;

    width: 100%;

    padding: 2rem;

    background-color: var(--footer-bg-col);

    color: var(--footer-text-col);
    font: 1.75rem 'Segoe UI', 'Courier New', Courier, monospace;
    font-weight: 500;
    text-align: center;
}

#selfref
{
    color: white !important;
    border-bottom: 1.5px dotted rgb(5, 153, 138);
}

/* ABOUT */
#about {
    padding: 4rem;

    height: auto;

    background: white url(../images/bg/asteroids.png) repeat fixed;
}

.about-desc {
    padding: 3.5vw;

    font-family: Montserrat, sans-serif;
    font-size: var(--about-desc-font-size);
    color: var(--about-desc-col);

    text-align: justify;

    background: var(--about-desc-bg-col);

    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);

    -webkit-box-shadow: 0 0 6rem 0 rgba(0,0,0,0.85);
    -moz-box-shadow: 0 0 6rem 0 rgba(0,0,0,0.85);
    box-shadow: 0 0 6rem 0 rgba(0,0,0,0.85);
    
    height: 100%;
}

.about-desc p {
    padding: 4rem;
}

blockquote {
    position: relative;

    margin: 2rem;
    margin-top: 6rem;

    font-size: var(--quote-font-size);
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: white;
    padding: 3rem 3rem 2rem 7.5rem;

    text-align: left;
    line-height:1.6;

    border-top: solid 3px #78C0A8;
    border-bottom: solid 3px #78C0A8;
}
  
blockquote::before {
    font-family: Arial;
    content: "\201C";
    color:#78C0A8;
    font-size:10rem;
    position: absolute;
    left: 10px;
    top:-10px;
}
  
blockquote::after {
    content: "\201D";
    font-family: Arial;
    color:#78C0A8;
    font-size:10rem;
    position: absolute;
    right: 3rem;
    bottom: 4rem;
}
  
blockquote span {
    text-align: right;
    display: block;
    color:#333333;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    margin: 2rem;
}

blockquote span a {
    color:#333333 !important;
}

blockquote span a:hover {
    opacity: 0.6;
}

/* PROJECTS */
#proj
{
    display: -moz-grid;
    display: -ms-grid;
    display: grid;

    grid-template-columns: repeat(2, 6fr);
    grid-column-gap: 1.6rem;

    /* background: white url(https://source.unsplash.com/random/?robots) center/cover no-repeat fixed; */
    background: white url(../images/bg/alchemy.png) repeat fixed;

    padding: 4rem;
    height: auto;
}

.project {
    width: auto;
    height: auto;

    margin: 2rem;
    padding: 2rem;

    background: var(--proj-desc-bg-col);

    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);

    -webkit-box-shadow: 0 0 4rem 0 rgba(0,0,0,0.85);
    -moz-box-shadow: 0 0 4rem 0 rgba(0,0,0,0.85);
    box-shadow: 0 0 4rem 0 rgba(0,0,0,0.85);

    text-align: center;
}

.proj-ttl {
    margin: 2rem;

    color: var(--proj-ttl-col);
    font-family: Aleo, 'Courier New', Courier, monospace;;
    font-size: var(--proj-ttl-font-size);
    font-weight: 500;
}

.proj-details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.proj-img-container {
    margin: 1rem 3rem;

    width: var(--proj-img-cont-width);
    height: var(--proj-img-cont-height);

    -webkit-box-shadow: 0 0 1rem 0 rgba(0,0,0,0.85);
    -moz-box-shadow: 0 0 1rem 0 rgba(0,0,0,0.85);
    box-shadow: 0 0 1rem 0 rgba(0,0,0,0.85);
    border: 0.2rem solid wheat;

    overflow: hidden;
}

.proj-img {
    width: var(--proj-img-width);
    height: var(--proj-img-height);

    -moz-transition: 0.35s;
    -o-transition: 0.35s;
    -webkit-transition: 0.35s;
    transition: 0.35s;
}

.proj-img:hover {
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
}

.proj-img-wide {
    width: var(--proj-img-wide-width);
}

.proj-desc {
    margin: 4rem;

    text-align: justify;

    color: var(--proj-desc-col);
    font-family: Montserrat, sans-serif;
    font-size: var(--proj-desc-font-size);
    font-weight: 500;
}

/* THE TEAM */
#team
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    align-content: middle;
    justify-content: center;

    /* background: white url(https://source.unsplash.com/random/?legoland) center/cover no-repeat fixed; */
    background: white url(../images/bg/shattered-island.png) repeat fixed;

    padding: 4rem;

    height: auto;
}

.person {
    margin: 5rem;
    overflow: hidden;
    position: relative;

    width: var(--person-width);
    height: var(--person-height);

    -webkit-box-shadow: 0 0 2rem 0 rgba(0,0,0,0.85);
    -moz-box-shadow: 0 0 2rem 0 rgba(0,0,0,0.85);
    box-shadow: 0 0 2rem 0 rgba(0,0,0,0.85);
}

.person-pic
{
    width: 100%;
    height: 100%;

    text-align: center;
}

.overlay
{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: 1;

    background-color: rgba(146, 212, 221, 0.75);

    -webkit-backdrop-filter: blur(0.8rem);
    backdrop-filter: blur(0.8rem);

    overflow: hidden;
    width: 100%;
    height: 0;

    -moz-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
}

.person:hover .overlay {
    height: 32%;
}

.person-name
{
    margin: 0.75rem 0 -0.75rem 0;

    color: rgb(13, 113, 228);
    
	font-family: Aleo, 'Courier New', Courier, monospace;
	font-weight: 600;
    font-size: var(--person-name-font-size);
}

.person-dsgn {
    margin: 1rem;

    color: rgb(13, 113, 228);
    
	font-family: Aleo, 'Courier New', Courier, monospace;
	font-weight: 600;
    font-size: var(--person-dsgn-font-size);
}

.person-social-links {
    margin: 1rem;
}

.person-wo-dsgn {
    margin-top: 2.25rem;
}

.person-details {
    font-size: 4rem;
    margin: 1rem;
}

#connect {
    height: auto;
    padding: 3vw;

    /* background: white url(https://source.unsplash.com/random/?asimo) center/cover no-repeat fixed; */
    background: white url(../images/bg/lines.png) repeat fixed;
}
    
.connect-desc {
    padding: 3vw;

    font-size: var(--about-desc-font-size);

    background: var(--connect-desc-bg-col);

    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);

    -webkit-box-shadow: 0 0 6rem 0 rgba(0,0,0,0.85);
    -moz-box-shadow: 0 0 6rem 0 rgba(0,0,0,0.85);
    box-shadow: 0 0 6rem 0 rgba(0,0,0,0.85);
    
    height: 100%;
}

#connect-club-ttl {
    color: var(--intro-ttl-col);
    font-family: Aleo, 'Courier New', Courier, monospace;;
    font-size: var(--connect-club-ttl-font-size);
    font-weight: 500;
}

.connect-niser {
    margin: 3vh 0;
    margin-top: 1.5vh;

    color: rgb(27, 185, 125);
    font-size: 3rem;
    font-family: Inconsolata, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

#connect-logo
{
    width: var(--connect-logo-width);

    margin: 2rem 0;

    opacity: 0.75;

    -moz-transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

#connect-logo:hover
{
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#connect-niser-logo
{
    width: var(--connect-niser-logo-width);
    margin: 1rem 0;
    margin-top: 2.5rem;
}

#gform-span {
    padding: 5rem 0 2rem 0;

    color: palegoldenrod;
    font-family: Montserrat, sans-serif;
    font-size: var(--gform-span-font-size);
}

#gform-img {
    margin: -2.5rem 2rem;
    width: var(--gform-img-width);

    border-radius: 50%;

    -webkit-box-shadow: 0 0 3rem 0 rgb(39, 59, 122);
    -moz-box-shadow: 0 0 3rem 0 rgb(39, 59, 122);
    box-shadow: 0 0 3rem 0 rgb(39, 59, 122);

    -o-transition: 0.25s ease;
    -moz-transition: 0.25s ease;
    -webkit-transition: 0.25s ease;
    transition: 0.25s ease;
}

#gform-img:hover {
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#niser-link {
    color: white !important;
}

#niser-link:hover {
    color: rgba(255, 255, 255, 0.6) !important;
}

.club-details-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.club-details {
    font-size: var(--club-details-font-size);
    margin: 0 3rem;
}

#backToTop {
    display: none;
    position: fixed;
    bottom: 8rem;
    /* top: 87rem; */
    right: 7.5rem;

    width: 6rem;
    height: 6rem;

    padding: 2rem;

    background-color: rgba(76, 222, 241, 0.6);
    -webkit-backdrop-filter: blur(2rem);
    backdrop-filter: blur(2rem);

    -webkit-box-shadow: 0 0 6rem 0 rgba(0,0,0,0.85);
    -moz-box-shadow: 0 0 6rem 0 rgba(0,0,0,0.85);
    box-shadow: 0 0 6rem 0 rgba(0,0,0,0.85);

    font-size: 18px;
    color: white;
    text-align: center;

    border-radius: 50%;
    cursor: pointer;
    z-index: 15;
}

#backToTop:hover {
    background-color: rgba(210, 226, 115, 0.842);
}

/* For Responsiveness: Media Rules */
/* For Medium size laptops and iPad Pro (10.5"+) */
@media screen and (min-width: 960px) and (max-width: 1875px)
{
    .proj-details div:first-of-type {
        opacity: 0.6;

        -moz-transition: 0.25s;
        -o-transition: 0.25s;
        -webkit-transition: 0.25s;
        transition: 0.25s;

    }
    .proj-details div:first-of-type:hover {
        opacity: 1;
        z-index: 30;

        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
    .proj-img-container-lower {
        -moz-transition: 0.4s;
        -o-transition: 0.4s;
        -webkit-transition: 0.4s;
        transition: 0.4s;

        -moz-transform: scale(1.05) translateY(-75%);
        -ms-transform: scale(1.05) translateY(-75%);
        -o-transform: scale(1.05) translateY(-75%);
        -webkit-transform: scale(1.05) translateY(-75%);
        transform: scale(1.05) translateY(-75%);

        width: 32rem;
        margin-bottom: -28%;
    }
    .proj-img-container-lower img {
        width: 34rem;
    }
    .single-img {
        opacity: 1 !important;
    }
    .proj-desc {
        margin-top: 0;
    }
}

@media screen and (min-width: 960px) and (max-width: 1124px)
{
    :root {
        --about-desc-font-size: 2.4rem;
        --quote-font-size: 3rem;
    }
    /* Header */
    #ttl
    { 
        position: relative;
        top: 43%;
    }
    /* Chevron - Down arrow */
    .down-arrow {
        position: relative;
        top: 82vh;
    }
    /* HAM MENU */
    .toggle-button {
        display: block !important;
    }
    /* Nav */
    #nav {
        display: none;
    }
    .nav-links {
        display: block;
        float: none;
    }
    /* Blockquote */
    blockquote::after {
        position: absolute;
        right: 3rem;
        bottom: 1rem;
    }
    /* Projects */
    #proj
    {
        grid-template-columns: 6fr 6fr;
        grid-column-gap: 0.75vw;

        text-align: center;

        padding: 0.75rem;
    }
    .proj-img-container {
        margin: 2rem;
    }
    .proj-img-container-lower {
        margin-bottom: -48%;
    }
    .proj-desc {
        margin: 4rem;
    }
    .project {
        margin: 0.75rem 0.3vw;
        padding: 1.5rem;
    }
    /* Team */
    #team {
        padding: 2.5rem;
    }
    .person {
        margin: 5rem 7rem;
    }
    .person-dsgn {
        margin: 0;
    }
}

@media screen and (max-width: 902px)
{
    .proj-details div:first-of-type {
        opacity: 0.6;

        -moz-transition: 0.25s;
        -o-transition: 0.25s;
        -webkit-transition: 0.25s;
        transition: 0.25s;

    }
    .proj-details div:first-of-type:hover {
        opacity: 1;

        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
    .proj-details div:first-of-type:hover + div {
        opacity: 0.6;
    }
    .proj-img-container:hover {
        opacity: 1;
        z-index: 30;

        -webkit-box-shadow: 0 0 6rem 0 rgba(0,0,0,0.85);
        -moz-box-shadow: 0 0 6rem 0 rgba(0,0,0,0.85);
        box-shadow: 0 0 6rem 0 rgba(0,0,0,0.85);

        -moz-transition: 0.25s;
        -o-transition: 0.25s;
        -webkit-transition: 0.25s;
        transition: 0.25s;
    }
    .proj-img-container-lower {
        -moz-transition: 0.4s;
        -o-transition: 0.4s;
        -webkit-transition: 0.4s;
        transition: 0.4s;

        perspective: 1000px;

        -moz-transform: scale(1.05) translateY(-75%);
        -ms-transform: scale(1.05) translateY(-75%);
        -o-transform: scale(1.05) translateY(-75%);
        -webkit-transform: scale(1.05) translateY(-75%);
        transform: scale(1.05) translateY(-75%);

        width: 32rem;
        margin-bottom: -25%;
    }
    .proj-img-container-lower img {
        width: 34rem;
    }
    .single-img {
        opacity: 1 !important;
    }
}

@media screen and (max-width: 960px)
{
    :root {
        --logo-width: 6rem;

        --intro-ttl-font-size: 8rem;

        --nav-link-font-size: 2rem;
        --nav-link-margin: 2vw;

        --down-arrow-size: 4.5rem;

        --whitespan-height: 6rem;
        --whitespan-text-font-size: 2.5rem;

        --about-desc-font-size: 2.4rem;
        --quote-font-size: 3.2rem;

        --proj-ttl-font-size: 3rem;
        --proj-desc-font-size: 1.8rem;

        --person-width: 26rem;
        --person-height: 32rem;

        --connect-height: 90vh;
        --connect-logo-width: 10rem;
        --connect-club-ttl-font-size: 4rem;
        --connect-niser-logo-width: 16rem;
        --club-details-font-size: 6rem;
        --gform-span-font-size: 2.25rem;
        --gform-img-width: 5rem;
    }
    /* Header */
    #logo-link {
        top: 0.25rem;
    }
    #ttl
    { 
        position: relative;
        top: 40.5%;
    }
    /* Chevron - Down arrow */
    .down-arrow {
        position: relative;
        top: 75vh;
    }
    /* HAM MENU */
    .toggle-button {
        display: block !important;
        position: fixed;
        top: 1.7rem;
        right: 3rem;
    }
    /* Whitespan */
    .whitespan {
        padding: 1.5rem 0;
    }
    /* Nav */
    #nav {
        display: none;
    }
    .nav-links {
        display: block;
        float: none;
    }
    /* About Us */
    #about {
        padding: 2rem;
    }
    .about-desc p {
        padding: 4vw;
    }
    blockquote {
        margin-top: 10rem;
    }
    blockquote::after {
        position: absolute;
        right: 3rem;
        bottom: 1.25rem;
    }
    /* Projects */
    #proj
    {
        grid-template-columns: 12fr;

        text-align: center;

        padding: 0.25rem;
    }
    .proj-desc {
        margin: 2rem 2.25rem;
    }
    .proj-img-container-lower {
        margin-bottom: -30%;
    }
    /* Team */
    #team {
        padding: 2rem;
    }
    .person {
        margin: 5rem;
    }
    .person-name {
        margin: 1rem 0 0 0;
    }
    .person-dsgn {
        margin: 0;
    }
    .person-social-links {
        margin: 0.75rem;
    }
    .person-wo-dsgn {
        margin: 1rem;
    }
    .person-details {
        font-size: 3rem;
    }
    /* Connect/About */
    .club-details {
        margin: 0 1.75rem;
        line-height: 10rem;
    }
    /* GForm Link */
    #gform-img {
        margin: -1.5rem 1rem;
    }
    /* Footer */
    footer
    {
        padding: 1rem;
    }
    #backToTop {
        position: fixed;
        bottom: 5rem;
        right: 2.5rem;
    }
}

@media screen and (max-width: 601px)
{
    :root {
        --intro-ttl-font-size: 6rem;
    }
    /* Projects */
    .project {
        margin: 1.25rem;
        padding: 1rem;
        max-width: 94vw;
    }
    .proj-img-container-lower {
        width: 32rem;
        margin-bottom: -50%;
    }
    :root {
        --about-desc-font-size: 1.8rem;
        --quote-font-size: 2.5rem;

        --proj-img-wide-width: 32rem;
    }
    /* Chevron - Down arrow */
    .down-arrow {
        position: relative;
        top: 75vh;
    }
    blockquote::after {
        position: absolute;
        right: 3rem;
        bottom: 1rem;
    }
}

@media screen and (max-width: 415px)
{
    /* Projects */
    .proj-img:hover {
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        -webkit-transform: none;
        transform: none;
    }    
    .proj-img-container-lower {
        width: 32rem;
        margin-bottom: -60%;
    }
    .proj-img-container-lower img {
        width: 34rem;
    }
    /* GForm Link */
    #gform-img {
        margin: 1.5rem 1rem -1.75rem 1rem;
    }
    .about-desc p {
        padding: 6vw;
        padding-bottom: 0;
    }
    .person {
        margin: 2rem;
    }
    blockquote {
        margin: 2rem 0;
        font-size: 2.1rem;
    }
    blockquote span a {
        font-size: 2.25rem;
    }
}

/* For phones (portrait) */
@media screen and (max-height: 880px)
{
    .menu-links
    {
        padding: 1.5rem;
        margin: 1rem 0;
        position: relative;
        top: 20.5vh;
    }
    /* Header */
    #ttl
    { 
        position: relative;
        top: 34%;
    }
    /* Chevron - Down arrow */
    .down-arrow {
        position: relative;
        top: 53%;
    }
    /* #backToTop {
        position: fixed;
        bottom: 5rem;
        right: 2.5rem;
    } */
}
/* For phones (landscape) */
@media screen and (max-height: 415px)
{
    .menu-list {
        line-height: 6rem;
    }
    .menu-links
    {
        padding: 1.5rem;
        margin: 1rem 0;
        position: relative;
        top: 4.5vh;
    }
}

