* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:root
{
    font: 10px Helvetica, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    --logo-width: 7rem;

    --intro-ttl-font-size: 8rem;
    --intro-ttl-col: rgb(233, 224, 207);

    --menu-sidebar-bg-col: rgba(30, 93, 136, 0.75);
     /* rgba(41, 118, 148, 0.75); */

    --nav-link-font-size: 2.2rem;
    --nav-link-col: yellow;
    --nav-link-margin: 2vw;

    --down-arrow-size: 4rem;
    --down-arrow-color: white; 

    --whitespan-height: 9rem;
    --whitespan-text-font-size: 4rem;
    --whitespan-bg-col: rgb(241, 239, 209);

    --about-desc-font-size: 2.5rem;
    --about-desc-bg-col: rgba(41, 118, 148, 0.75);

    --project-width: 10rem;
    --project-height: 8rem;

    --proj-ttl-col: white;
    --proj-ttl-font-size: 4rem;

    --proj-img-width: 25rem;
    --proj-img-height: 30rem;

    --proj-desc-col: white;
    --proj-desc-font-size: 2rem;

    --proj-desc-bg-col: rgba(41, 118, 148, 0.75);

    --person-name-font-size: 2.25rem;
    --person-width: 32rem;
    --person-height: 38rem;
    --person-dsgn-font-size: 1.75rem;

    --connect-height: 85vh;
    --connect-club-ttl-font-size: 5rem;
    --connect-logo-width: 12rem;
    --connect-niser-logo-width: 16rem;
    --connect-desc-bg-col: rgba(41, 118, 148, 0.75);
    --club-details-font-size: 7rem;

    --footer-text-col: rgb(221, 203, 200);
    --footer-bg-col: rgb(194, 171, 95);

    --mail-col: rgb(0, 114, 202);
    --whatsapp-col: rgb(85, 240, 112) ;
    --yt-col: rgb(255, 0, 0);
    --fb-col: #3b5998;
    --insta-col: #fb3958;
    --github-col: rgb(23, 21, 21);
}

body
{
    background: white center/cover no-repeat fixed;

    -webkit-overflow-scrolling: touch;
}

a:hover, a:link, a:active, a:any-link, a:visited
{
    text-decoration: none !important;
}

ul {
    list-style-type: none !important;
}

.mail, .whatsapp, .yt, .fb, .insta, .github {
    color: white;

    -moz-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
}

.mail:hover {
    opacity: 1;
    color: var(--mail-col);
}

.whatsapp:hover {
    opacity: 1;
    color: var(--whatsapp-col);
}

.yt:hover {
    opacity: 1;
    color: var(--yt-col);
}

.fb:hover
{
    opacity: 1;
    color: var(--fb-col);
}

.insta:hover
{
    opacity: 1;
    color: var(--insta-col);
}

.github:hover
{
    opacity: 1;
    color: rgb(23, 21, 21);
}

/* Hamburger Menu */
/* https://www.templatemonster.com/blog/build-navigation-menu-css-jquery/ */
.toggle-button {
    display: none;

    position: fixed;
    top: 3rem;
    right: 8.6rem;

    width: 4.5rem;
    height: 4rem;

    padding: 0.5rem;

    transition: .25s;
    z-index: 100;
}

.toggle-button:hover {
    cursor: pointer;
}

.toggle-button .menu-bar {
    position: absolute;
    border-radius: 2px;
    width: 80%;
    transition: .5s;
}

.toggle-button .menu-bar-top {
    border: 4px solid rgb(51, 51, 51);
    border-bottom: none;
    top: 0;
}

.toggle-button .menu-bar-middle {
    height: 4px;
    background-color: rgb(51, 51, 51);
    margin-top: 7px;
    margin-bottom: 7px;
    top: 4px;
}

.toggle-button .menu-bar-bottom {
    border: 4px solid rgb(51, 51, 51);
    border-top: none;
    top: 22px;
}

.button-open .menu-bar-top {
    transform: rotate(45deg) translate(8px, 8px);
    transition: .5s;
}

.button-open .menu-bar-middle {
    transform: translate(-22rem);
    transition: .1s ease-in;
    opacity: 0;
}

.button-open .menu-bar-bottom {
    transform: rotate(-45deg) translate(8px, -7px);
    transition: .5s;
}

.menu-sidebar {
    background-color: var(--menu-sidebar-bg-col);

    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);

    position: fixed;
    top: 0;
    right: 0;
    
    height: 100%;
    width: 22rem;
    margin-right: -22rem;

    overflow: auto;
    
    z-index: 99;

    text-align: center;
    line-height: 8rem;

    transition: .25s;
}

.menu-show {
    margin-right: 0;
    -webkit-box-shadow: 0 0 6rem 0 rgba(241, 239, 209, 0.75);
    -moz-box-shadow: 0 0 6rem 0 rgba(241, 239, 209, 0.75);
    box-shadow: 0 0 6rem 0 rgba(241, 239, 209, 0.75);
}

.menu-links
{
    position: relative;
    top: 28vh;

    /* margin-top: 10rem; */

    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5rem; /* VAR */
    font-weight: 600;
    color: var(--nav-link-col);
}

/* .menu-sidebar li > a:after {
    content: "";
    display: block;
    height: 0.15em;
    position: absolute;
    top: 100%;
    width: 102%;
    left: 50%;
    transform: translate(-50%);
    background-image: linear-gradient(to right, transparent 50.3%, #FFFA3B 50.3%);
    transition: background-position .2s .1s ease-out;
    background-size: 200% auto;
}

.menu-sidebar li > a:hover:after {
    background-position: -100% 0;
} */

/* For all the tiles -- Individual tiles can be styled, well, individually */
.tiles
{
    height: 100vh;
    text-align: center;
}

/* All the white spans */
.whitespan {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
    height: var(--whitespan-height);
    font-size: var(--whitespan-text-font-size);
    font-weight: 900;
    font-family: 'Russo One'; /* Inconsolata */
    text-align: center;

    background: var(--whitespan-bg-col);

    padding: 2rem 0;
}

/* LOGO Image */
#logo-link
{
    position: fixed;
    top: 1rem;

    z-index: 99;

    margin-left: 4vw;
    float: left;
}

#logo
{
    width: var(--logo-width);

    -moz-transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

#logo:hover
{
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

#nav
{
    padding: 1rem;

    background: inherit;

    text-align: center;

    z-index: 10;
}

.nav-links
{
    display: block;
    float: left;

    position: relative;
    left: 30%;

    font-family: 'Courier New', Courier, monospace;
    font-size: var(--nav-link-font-size);
    color: var(--nav-link-col);

    margin: 2.5vh var(--nav-link-margin);

    text-align: center;
}

/* Clearing floats */
#nav:before,
#nav:after {
    content: "";
    display: table;

}

#nav:after {
    clear: both;
}

#nav {
    clear: both;
    *zoom: 1;
}

/* HOME */
/* THE TITLE */
#ttl
{ 
    position: relative;
    top: 35%;

    z-index: 0;

    color: var(--intro-ttl-col);
    font-family: Aleo;
    font-size: var(--intro-ttl-font-size);
    font-weight: 500;
}

.down-arrow {
    display: block;
    position: relative;
    top: 75vh;

    color: var(--down-arrow-color);

    font-size: var(--down-arrow-size);

    z-index: 9;
}

.down-arrow a {
    color: orangered !important;
}

/* THE FOOTER */
footer
{
    display: block;

    width: 100%;

    padding: 2rem;

    background-color: var(--footer-bg-col);

    color: var(--footer-text-col);
    font: 1.75rem 'Segoe UI', 'Courier New', Courier, monospace;
    font-weight: 500;
    text-align: center;
}

#selfref
{
    color: white !important;
    border-bottom: 1.5px dotted rgb(5, 153, 138);
}

/* ABOUT */
#about {
    padding: 5vw 6vw;
}

.about-desc {
    padding: 5vw;

    font-size: var(--about-desc-font-size);

    background: var(--about-desc-bg-col);

    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);

    -webkit-box-shadow: 0 0 6rem 0 rgba(0,0,0,0.85);
    -moz-box-shadow: 0 0 6rem 0 rgba(0,0,0,0.85);
    box-shadow: 0 0 6rem 0 rgba(0,0,0,0.85);
    
    height: 100%;
}

/* PROJECTS */
#proj
{
    display: -moz-grid;
    display: -ms-grid;
    display: grid;

    grid-template-columns: repeat(2, 6fr);
    grid-column-gap: 2rem;

    padding: 4rem;
    height: auto;
}

.project {
    width: auto;
    height: auto;

    margin: 2rem;

    background: var(--proj-desc-bg-col);

    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);

    -webkit-box-shadow: 0 0 6rem 0 rgba(0,0,0,0.85);
    -moz-box-shadow: 0 0 6rem 0 rgba(0,0,0,0.85);
    box-shadow: 0 0 6rem 0 rgba(0,0,0,0.85);

    text-align: center;
}

.proj-ttl {
    margin: 2rem;

    color: var(--proj-ttl-col);
    font-family: Aleo;
    font-size: var(--proj-ttl-font-size);
    font-weight: 500;
}

.proj-details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.proj-img {
    width: var(--proj-img-width);
    height: var(--proj-img-height);

    border: 0.2rem solid wheat;
    -webkit-box-shadow: 0 0 1rem 0 rgba(0,0,0,0.85);
    -moz-box-shadow: 0 0 1rem 0 rgba(0,0,0,0.85);
    box-shadow: 0 0 1rem 0 rgba(0,0,0,0.85);

    margin: 1rem 3rem;
}

.proj-desc {
    margin: 4rem;

    text-align: justify;

    color: var(--proj-desc-col);
    font-family: Aleo;
    font-size: var(--proj-desc-font-size);
    font-weight: 500;
}

/* THE TEAM */
#team
{
    /* display: -moz-grid;
    display: -ms-grid;
    display: grid; */
    /* grid-template-columns: repeat(4, 3fr); */

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    align-content: middle;
    justify-content: center;

    padding: 4rem;
    /* padding-bottom: 6rem; */

    height: auto;
}

.person {
    margin: 5rem;
    overflow: hidden;
    position: relative;

    width: var(--person-width);
    height: var(--person-height);

    -webkit-box-shadow: 0 0 2rem 0 rgba(0,0,0,0.85);
    -moz-box-shadow: 0 0 2rem 0 rgba(0,0,0,0.85);
    box-shadow: 0 0 2rem 0 rgba(0,0,0,0.85);
}

picture {
    width: 100%;
}

.person-pic
{
    width: 100%;
    height: 100%;

    text-align: center;

    border: 0.2rem solid white;
}

.overlay
{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: 1;

    background-color: rgba(146, 212, 221, 0.75);

    -webkit-backdrop-filter: blur(0.8rem);
    backdrop-filter: blur(0.8rem);

    overflow: hidden;
    width: 100%;
    height: 0;

    -moz-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
}

.person:hover .overlay {
    height: 30%;
}

.person-name
{
    margin: 1rem 0;
    margin-bottom: 0;

    color: rgb(13, 113, 228);
    
	font-family: Aleo;
	font-weight: 600;
    font-size: var(--person-name-font-size);
}

.person-dsgn {
    /* margin-bottom: 0.3rem; */

    color: rgb(13, 113, 228);
    
	font-family: Aleo;
	font-weight: 600;
    font-size: var(--person-dsgn-font-size);
}

.person-social-links {
    margin: 1rem;
}

.person-details {
    font-size: 4rem;
    margin: 1rem;
}

#connect {
    height: auto;
    padding: 3vw;
}
    
.connect-desc {
    padding: 3vw;

    font-size: var(--about-desc-font-size);

    background: var(--connect-desc-bg-col);

    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);

    -webkit-box-shadow: 0 0 6rem 0 rgba(0,0,0,0.85);
    -moz-box-shadow: 0 0 6rem 0 rgba(0,0,0,0.85);
    box-shadow: 0 0 6rem 0 rgba(0,0,0,0.85);
    
    height: 100%;
}

#connect-club-ttl {
    color: var(--intro-ttl-col);
    font-family: Aleo;
    font-size: var(--connect-club-ttl-font-size);
    font-weight: 500;
}

.connect-niser {
    margin: 3vh 0;

    font-size: 3rem;
    font-family: Inconsolata;
    text-align: center;
}

#connect-logo
{
    width: var(--connect-logo-width);

    margin: 2rem 0;

    -moz-transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

#connect-logo:hover
{
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#connect-niser-logo
{
    width: var(--connect-niser-logo-width);
    margin: 1rem 0;

    -moz-transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

.club-details-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.club-details {
    font-size: var(--club-details-font-size);
    margin: 0 3rem;
}

#backToTop {
    display: none;
    position: fixed;
    bottom: 8rem;
    /* top: 87rem; */
    right: 4rem;

    width: 6rem;
    height: 6rem;

    padding: 2rem;

    background-color: rgba(76, 222, 241, 0.6);
    -webkit-backdrop-filter: blur(2rem);
    backdrop-filter: blur(2rem);

    -webkit-box-shadow: 0 0 6rem 0 rgba(0,0,0,0.85);
    -moz-box-shadow: 0 0 6rem 0 rgba(0,0,0,0.85);
    box-shadow: 0 0 6rem 0 rgba(0,0,0,0.85);

    font-size: 18px;
    color: white;
    text-align: center;

    border-radius: 50%;
    cursor: pointer;
    z-index: 100;
}

#backToTop:hover {
    background-color: rgba(210, 226, 115, 0.842);
}

/* For Responsiveness: Media Rules */
@media screen and (min-width: 1024px)
{
    
}
/* For Medium size laptops and iPad Pro (10.5"+) */
@media screen and (min-width: 960px) and (max-width: 1124px)
{
    /* Header */
    #ttl
    { 
        position: relative;
        top: 43%;
    }
    /* Chevron - Down arrow */
    .down-arrow {
        position: relative;
        top: 85vh;
    }
    /* HAM MENU */
    .toggle-button {
        display: block !important;
    }
    /* Nav */
    #nav {
        display: none;
    }
    /* #nav {
        padding: 0;
    } */
    .nav-links {
        display: block;
        float: none;
    }
    /* Projects */
    #proj
    {
        grid-template-columns: 6fr 6fr;

        text-align: center;

        padding: 0.75rem;
    }
    .proj-img {
        margin: 3rem;
    }
    .proj-desc {
        margin: 4rem;
    }
    /* Team */
    #team {
        padding: 2.5rem;
    }
    .person {
        margin: 5rem;
    }
}

@media screen and (max-width: 960px)
{
    :root {
        --logo-width: 4rem;

        --intro-ttl-font-size: 6rem;

        --nav-link-font-size: 2rem;
        --nav-link-margin: 2vw;

        --down-arrow-size: 3.5rem;

        --whitespan-height: 6rem;
        --whitespan-text-font-size: 2.5rem;

        --proj-ttl-font-size: 3rem;
        --proj-desc-font-size: 1.8rem;

        --person-width: 26rem;
        --person-height: 32rem;

        --connect-height: 90vh;
        --connect-logo-width: 8rem;
        --connect-club-ttl-font-size: 4rem;
        --connect-niser-logo-width: 14rem;
        --club-details-font-size: 6rem;
    }
    /* Header */
    #ttl
    { 
        position: relative;
        top: 46%;
    }
    /* Chevron - Down arrow */
    .down-arrow {
        position: relative;
        top: 80vh;
    }
    /* HAM MENU */
    .toggle-button {
        display: block !important;
        position: fixed;
        top: 1.7rem;
        right: 3rem;
    }
    /* Whitespan */
    .whitespan {
        padding: 1.5rem 0;
    }
    /* Nav */
    #nav {
        display: none;
    }
    /* #nav {
        padding: 0;
    } */
    .nav-links {
        display: block;
        float: none;
    }  
    /* Projects */
    #proj
    {
        grid-template-columns: 12fr;

        text-align: center;

        padding: 0.25rem;
    }
    .proj-img {
        margin: 3rem;
    }
    .proj-desc {
        margin: 4rem;
    }
    /* Team */
    #team {
        padding: 2rem;
    }
    .person {
        margin: 3rem;
    }
    /* Connect/About */
    .club-details {
        margin: 0 1.75rem;
        line-height: 10rem;
    }
    /* Footer */
    footer
    {
        padding: 1rem;
    }
}

@media screen and (max-width: 601px)
{
    /* Chevron - Down arrow */
    .down-arrow {
        position: relative;
        top: 80vh;
    }
}
/* For phones (tall) */
@media screen and (max-height: 880px)
{
    /* Header */
    #ttl
    { 
        position: relative;
        top: 34%;
    }
    /* Chevron - Down arrow */
    .down-arrow {
        position: relative;
        top: 58%;
    }
}
